<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Gumball Tic-Tac-Toe</name>

  <description>
     Gamboru Tic-Tac-Toe
  </description>

  <author href="yunus.hacettepe.edu.tr/~goksucanerkoc/" email="g0ksubishoun3n@gmail.com">
      Göksucan Erkoç
  </author>
<platform name="android" />
      <icon src="gumboru-logo.png" />

</widget>